<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text ANALYZER</title>
</head>
<body>
<h1> Please Enter You Text:- </h1>
<form action='/analyse' method='get'>
    <textarea name='text' style='width: 1233px; height: 155px;'></textarea><br>
    <input type="checkbox" name="removepun"> Remove Punctuation <br>
    <input type="checkbox" name="capitalizr"> Capitalizer <br>
    <input type="checkbox" name="charzount"> Char Count <br>
    <input type="checkbox" name="spaceremove"> Space Remove <br>
    <button>Analyse Text</button>

</form>

</body>
</html>